/*Common Settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: montserrat;
}

/*General Settings*/
.container {
    width: 100%;
    margin: auto;
    
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.row-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;

}

.col-1 {
    width: calc(100 / 12 * 1);
}

.col-2 {
    width: calc(100 / 12 * 2);
}

.col-3 {
    width: calc(100 / 12 * 3);
}

.col-4 {
    width: calc(100 / 12 * 4);
}

.col-5 {
    width: calc(100 / 12 * 5);
}

.col-6 {
    width: calc(100 / 12 * 6);
}

.col-9 {
    width: calc(100 / 12 * 9);
}

/*Headeer*/
.main-header {
    padding: 15px;
    text-align: right;
}

.head-icons {
    padding: 5px;
    color: white;
    background-color: grey;
    border-radius: 7px;
}

/*Main*/
#person {
    width: 235px;
}

.pad {
    padding: 5px;
}

.person-info {
    background-color: rgba(57, 57, 57, 0.585);
    height: 30px;
    width: 115px;
    position: relative;
    top: -35px;
    padding: 5px;
    
}

.microphone {
    position: relative;


}

.person-name {
    position: relative;
    font-size: 12px;
    vertical-align: middle;
    padding-left: 5px;
}

.white {
    color: white;
}

/*Footer*/
.main-footer {
    background: linear-gradient(to right, #868f96 0%, #596164 100%);
    height: 100px;
}

.center {
    text-align: center;
}

.pad-footer {
    padding: 25px;
}

.mute {
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
}

.mic {
    font-size: 35px;
}

.red {
    color: red;
}

.right {
    text-align: right;
}

.grey-block {
    background-color: rgb(167, 167, 167);
    height: 100px;
    width: 115px;
    position: relative;
    top: -5px;
    padding: 5px;
    
}

.arrow {
    padding-left: 5px;
    font-size: 50px;
}

.camera-stop {
    padding-left: 35px;
}

.pad-left {
    padding-left: 25px;
}

.green {
    color: lightgreen;
}

.grey {
    background-color: grey;
}

.height {
    height: 100%;

}

.pad-top {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}  

.padding-top {
    padding-top: 20px;
}