/*Common Settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: montserrat;
}

/*General Settings*/
.container {
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    
}

.col-3 {
    width: calc(100 / 12 * 3);
}

.col-6 {
    width: calc(100 / 12 * 6);
}

.col-9 {
    width: calc(100 / 12 * 9);
}

/*Headeer*/
.main-header {
    padding: 15px;
    text-align: right;
}

.head-icons {
    padding: 5px;
    color: white;
    background-color: grey;
    border-radius: 7px;
}

/*Main*/
.main-container {

}

#person {
    height: 250px;
}

.pad {
    padding: 10px;
}

.person-info {
    background-color: rgba(57, 57, 57, 0.585);
    height: 30px;
    width: 115px;
    position: relative;
    top: -35px;
    padding: 5px;
    
}

.microphone {
    position: relative;


}

.person-name {
    position: relative;
    font-size: 12px;
    vertical-align: middle;
    padding-left: 5px;
}

.white {
    color: white;
}